.card {
  display: flex;
  flex-wrap: wrap;

  margin: 25px 0;
  border: 1px solid lightgray;
  border-radius: 4px;

  .card-content {
    margin: 15px;
    flex: 1;
  }

  img {
    object-fit: cover;
    max-width: 350px;
    max-height: 100%;
  }
}

@media only screen and (min-width: 648px) {
  .card:nth-child(even) {
    img {
      order: 2;
    }
  }
}
